<footer class="site-footer">
  <div class="container footer-top">
    <div>{% include 'blocks/logo.html' %}<p>Сообщество и архив Python-разработки<br>за много лет.</p></div>
    <div class="footer-links"><span>Проект</span><a href="/pages/about/">О Python.ru</a><a href="/pages/editorial/">Редакция</a><a href="/materials/">Архив</a></div>
    <div class="footer-links"><span>Участвовать</span><a href="/contribute/?kind=article">Предложить статью</a><a href="/contribute/?kind=event">Добавить событие</a><a href="/contribute/?kind=project">Добавить проект</a></div>
    <div class="footer-links"><span>Мы в сети</span><a href="https://moscowpython.ru/">Moscow Python ↗</a><a href="https://t.me/moscow_python">Telegram ↗</a><a href="https://www.youtube.com/moscowdjangoru">YouTube ↗</a><a href="https://github.com/moscowpython/python.ru">GitHub ↗</a><a href="/rss/">RSS ↗</a></div>
  </div>
  <div class="container footer-bottom"><span>© 1999–{% now "Y" %} Python.ru</span><span>Сделано сообществом для сообщества</span></div>
</footer>
